
html{
height: 100%;
margin: 0;
}

/*Corpo do Site*/
body
{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
background: rgb(50, 26, 78);
}
/*----------------------------------------------------------------------------------*/

/*Estilização do topo*/
#menu-area{
font-family: Letters for Learners;
font-size: 2.5em;
text-align: center;
background-image: linear-gradient(to top, #ffffff, #939597, #ffffff);
width: 100%;
line-height: 1.5em;
margin-top: -50px;
position: fixed;
z-index: 1;
}

/*Menu Inicio*/
#menu-area a
{
text-decoration: none;
color: rgb(0, 0, 0);
}

#menu-area a:hover
{
border: 3px solid white;
color: rgb(255, 255, 255);
cursor: pointer;
background: rgb(119, 0, 255);
border-radius: 5px;
}

/*Logo Inicio*/
#logo
{
position: relative;
right: 750px;
margin-bottom: -70px;
}
/*Logo Fim*/

/*Menu Fim*/

/*Capa Incio*/
#capa
{
width: 100%;
position: relative;
top: 70px;
}
/*Capa Fim*/

/*Topo Final*/
/*-------------------------------------------------------------------*/

h2
{
font-size: 7em;
text-align: center;
font-family:Letters for Learners;
color: rgb(255, 255, 255);
background: rgb(50, 26, 78);
}

p
{
font-size: 3em;
text-align: center;
font-family: Letters for Learners;
color: rgb(255, 255, 255);
background: rgb(50, 26, 78);
}
/*-------------------------------------------------------------------*/

/*Configuração das Imagens do efeito de paralax*/
#imagem-1
{
background: url('01.png');
height: 100%;
background-position: center;
background-attachment: fixed;
}

#imagem-2
{
background: url('02.png');
height: 100%;
background-position: center;
background-attachment: fixed;
}

#imagem-3
{
background: url('03.png');
height: 100%;
background-position: center;
background-attachment: fixed;
}

#imagem-4
{
background: url('04.png');
height: 100%;
background-position: center;
background-attachment: fixed;
}
/*-------------------------------------------------------------------*/

/* Formulario*/



form
{
position: relative;
text-align: center;
margin-top: 20px;
margin-bottom: -30px;
}

label
{
font-size: 1.5em;
}
input {
font-family: sans-serif;
font-size: 2em;
color: #59429d;
border-radius: 5px;
margin-right: 20px;
border: 4px solid rgb(255, 0, 85);
}

.form-text
{
font-size: 2em;
text-align: center;
font-family: Letters for Learners;
color: rgb(255, 0, 85);
font-weight: 900;   
}

.cadastrar
{
font-size: 3.2em;
font-family: Letters for Learners;
color: rgb(255, 255, 255);
font-weight: 900;  
background: rgb(255, 0, 157);
border-radius: 6px; 
border: 2px solid white;
display: inline-block;
margin-top: 20px;
margin-left: 150px;
}

.cadastrar:hover
{
background: rgb(138, 0, 138);
cursor: pointer;
}

.link-rodape
{
text-decoration: none;
color: rgb(255, 0, 170);
font-weight: 900;
}

.link-rodape:hover
{
color: blueviolet;
background: white;
border-radius: 6px;
font-weight: 900;
}
/*-------------------------------------------------------------------*/









